@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
background-color: #c0ecec;
font-family: 'Inter', sans-serif;


max-width: 1000px;
margin: auto;
/* border: 1px solid rgb(12, 12, 61); */

/* height */
height: 100vh;
height: -webkit-fill-available;
height: fill-available;
position: relative;

}

/* #wrapper{
    margin: auto;
    background-color: #8dd4c9;
    width: 1000px;
    height: auto;
} */

h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    /* align-items: center; */
    
}

#h1-tittle-brush{
    width: 20vw;
    margin: 3rem;
    color: #2E6D62;
    /* background-color: #8dd4c9; */
    /* background-color: #54968a;
    color: transparent;
    text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; */
}
button{
padding: 0;
border: none;
background: none;

}
#about-button{
    margin: 3rem;
    margin-top: 5rem;
    width: 75px;
    height: 75px;
    border-radius: 40px;
    background: #2E6D62;
    box-shadow: -7px -7px 7px 2px rgba(255, 255, 255, 0.3), 7px 7px 7px 2px rgba(196, 196, 196, 0.39);
}

#about-button:hover, #about-button:focus {
    outline: none;
    background: #8dd4c9;
}

#about-button h1{
    justify-content: center;
    margin: 0px;
    color: #54968a;
}

#top-intro{
    max-width: 1000px;
    margin: auto;
    /* background-color: #D68473; */
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 22vh;
    width: 100vw;
}

#videoSpace {
    position: relative;
    display: flex;
    width: 60vw;
    height: 40vh;
    margin: 0 auto;
    /* background-color: rgb(192, 236, 200); */
    max-width: 600px;
    /* max-height: 400px; */
}

#videoCanvas {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: tomato;
    border-radius: 20rem;
    /* border-radius: 100px; */
}


#timerSpace {
    position: relative;
    display: flex;
    width: 50vw;
    height: 30vh;
    margin: auto;
    /* background-color: #c0ecec; */
    /* background-color: chocolate; */
}

#startShow{
position: absolute;
margin: auto;
top: 40%;
left: 40%;
color: #8dd4c9;
/* background-color: aquamarine; */
}
#startShow:hover{
    color: #d4d28d;
    cursor: pointer;
}
#startShow:active{
    color: #d4d28d;
}

#mouth { 
    position: relative;
    display: flex;
    -moz-box-shadow:    inset 0 0 10px #00000034;
    -webkit-box-shadow: inset 0 0 10px #00000034;
    box-shadow:         inset 0 0 10px #00000034;
    margin: auto;
    border-radius: 40px;
    background-color: #D68473;
    width: 400px;
    height: 80px;
}
#mouth:hover{
    cursor: pointer;
    -moz-box-shadow:    10px 10px 10px #00000034;
    -webkit-box-shadow: 10px 10px 10px #00000034;
    box-shadow:         10px 10px 10px #00000034;
}

#teeth {
    display: flex;
    position: relative;
    justify-content: space-around;
    justify-content: center;
    left:50px;
    /* margin: auto; */
    margin-top: 0px;
    width: 300px;
    /* background-color: #F8F8F8; */
    height: 100%;
}
.tooth {
    width: 60px;
    height: 75%;
    padding-left: 1rem;
    margin-left: .50rem;
    border-radius: 0px 0px 30px 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#timerCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 40px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sound-button{
    position: absolute;
    bottom: 3rem ;
    right: 3rem;
    width: 75px;
    height: 75px;
    border-radius: 40px;
    border: 5px solid #54968a;
    background: #F8F8F8;
    box-shadow: -7px -7px 7px 2px rgba(255, 255, 255, 0.3), 7px 7px 7px 2px rgba(196, 196, 196, 0.39);
}

#sound-button:hover, #sound-button:focus {
    outline: none;
    background: #8dd4c9;
    /* background: #2E6D62; */
}
#sound-button h1{
    justify-content: center;
    margin: 0px;
    color: #54968a;
}

